---
// src/pages/blog/[...slug].astro

import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { siteConfig } from "@/config/site";
import { categoryLabels } from "@/config/blog";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/ui/Container.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
import BlogHeader from "@/components/blog/BlogHeader.astro";
import BlogFeaturedImage from "@/components/blog/BlogFeaturedImage.astro";
import BlogContent from "@/components/blog/BlogContent.astro";
import BlogTOC from "@/components/blog/BlogTOC.astro";
import BlogRelatedPosts from "@/components/blog/BlogRelatedPosts.astro";
import BackToTop from "@/components/ui/BackToTop.astro";

import Image from "@/components/mdx/Image.astro";
import HR from "@/components/mdx/HR.astro";
import InternalLink from "@/components/mdx/InternalLink.astro";

import {
  filterHeadingsForTOC,
  getReadingTime
} from "@/lib/utils";

import {
  getSmartRelatedPosts
} from "@/lib/botEngine";


// ================= STATIC PATHS =================

export async function getStaticPaths() {

  const posts = await getCollection(
    "blog",
    ({ data }) => !data.draft
  );

  return posts.map(
    (post: CollectionEntry<"blog">) => ({
      params: { slug: post.id },
      props: { post }
    })
  );

}


// ================= PROPS =================

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;


// ================= LOAD ALL POSTS =================

const allPosts = await getCollection(
  "blog",
  ({ data }) => !data.draft
);


// ================= RENDER MDX + INTERNAL LINKS =================

const { Content, headings } = await render(post);


// ================= RELATED =================

const relatedPosts =
  getSmartRelatedPosts(
    post,
    allPosts,
    3
  );


// ================= DATA =================

const {
  title,
  description,
  pubDate,
  updatedDate,
  tags,
  category,
  image,
  imageAlt,
  imageCaption,
  featured,
  author,
  seo
} = post.data;


// ================= SEO =================

const seoTitle =
  seo?.title || title;

const seoDescription =
  seo?.description || description;

const seoImage =
  seo?.ogImage ||
  image ||
  siteConfig.ogImage;


// ================= TOC =================

const tocHeadings =
  filterHeadingsForTOC(headings);


// ================= READING TIME =================

const readingTime =
  getReadingTime(post.body);


// ================= BREADCRUMB =================

const breadcrumbItems = [
  { name: "Blog", href: "/blog/" },
  {
    name: categoryLabels[category],
    href: `/category/${category}/`
  }
];


// ================= SCHEMA =================

const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: seoTitle,
  description: seoDescription,
  image: seoImage,
  datePublished: pubDate,
  dateModified: updatedDate || pubDate,
  author: {
    "@type": "Person",
    name:
      author?.name ||
      siteConfig.author
  },
  publisher: {
    "@type": "Organization",
    name: siteConfig.name,
    logo: {
      "@type": "ImageObject",
      url:
        `${siteConfig.url}/favicon.svg`
    }
  },
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": Astro.url.href
  },
  keywords:
    tags?.join(", ") || ""
};
---


<BaseLayout
  title={seoTitle}
  description={seoDescription}
  image={seoImage}
  type="article"
  publishedTime={pubDate}
  modifiedTime={updatedDate}
  tags={tags}
  container={false}
>

<script
  type="application/ld+json"
  set:html={JSON.stringify(schema)}
/>

<article>

  {/* HEADER */}

  <Container
    size="md"
    class="pt-8 md:pt-16 pb-8"
  >

    <Breadcrumb
      items={breadcrumbItems}
    />

    <BlogHeader
      title={title}
      pubDate={pubDate}
      updatedDate={updatedDate}
      readingTime={readingTime}
      authorName={author?.name}
      authorAvatar={author?.avatar}
      authorTitle={author?.title}
      featured={featured}
    />

    {image && (

      <BlogFeaturedImage
        image={image}
        alt={imageAlt || title}
        caption={
          imageCaption || imageAlt
        }
      />

    )}

  </Container>


  {/* CONTENT */}

  <Container
    size="sm"
    class="pt-4 md:pt-8 pb-12"
  >

    {tocHeadings.length > 0 && (

      <div class="mb-8 md:mb-10 px-4 md:px-8">

        <BlogTOC
          headings={tocHeadings}
        />

      </div>

    )}

    <div class="px-4 md:px-8">

      <BlogContent>

        <InternalLink allPosts={allPosts}>
          <Content components={{ img: Image, hr: HR }} />
        </InternalLink>

      </BlogContent>

    </div>

  </Container>


  <BackToTop align="center" />


  {/* RELATED */}

  <section class="section-divider mt-4 md:mt-8 px-4 md:px-8">

    <Container size="md">

      <BlogRelatedPosts
        posts={relatedPosts}
      />

    </Container>

  </section>

</article>

</BaseLayout>