---
// src/pages/blog/[slug].astro
import '@/styles/prose/index.css';

import { getCollection, render, getEntry } from "astro:content";
import { siteConfig } from "@/config/site";
import { slugify } from "@/lib/utils";
import { components } from '@/components/layout/MDXComponents';

import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/ui/Container.astro";
import Section from "@/components/ui/Section.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
import PostHeader from "@/components/layout/PostHeader.astro";
import PostNavigation from '@/components/blog/PostNavigation.astro';
import BackToTop from "@/components/ui/BackToTop.astro";
import BG from "@/components/ui/BgDot.astro";

import RssFeed from '@/components/layout/RssFeed.astro';
import SharePost from '@/components/blog/SharePost.astro';

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return posts.map((post) => ({
    params: {  slug: post.data.slug || slugify(post.data.title)  },
    props: { post },
  }));
}

const { post } = Astro.props;

const articleLang = post.data.lang || 'en';

const allPosts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const currentIndex = sortedPosts.findIndex(p => p.id === post.id);
const prevPost = currentIndex < sortedPosts.length - 1 ? sortedPosts[currentIndex + 1] : null;
const nextPost = currentIndex > 0 ? sortedPosts[currentIndex - 1] : null;

const siteData = siteConfig;

const authorEntry = await getEntry(post.data.author);
const categoryEntry = await getEntry(post.data.category);

const { Content } = await render(post);

const {
  title,
  description,
  pubDate,
  updatedDate,
  tags,
  image,
  seo
} = post.data;

const seoImage = {
  src: seo?.ogImage || image?.src || siteConfig.ogImage,
  alt: image?.alt || title
};

const categorySlug =
  categoryEntry?.id ||
  slugify(categoryEntry?.data?.name || siteData.general);

const seoCategory = {
  name: categoryEntry?.data?.name || siteData.general,
  description: categoryEntry?.data?.description || "",
  slug: categorySlug,
};

const seoTitle = seo?.title || title;
const seoDescription = seo?.description || description;

const siteURL = Astro.site?.toString() ?? siteConfig.siteUrl;
const canonicalURL = new URL(Astro.url.pathname, siteURL).toString();

const homeLabel = siteData.home;
const blogLabel = siteData.blog;

const SeoBreadcrumbItems = [
  { name: homeLabel, href: '/'},
  { name: blogLabel, href: '/blog'},
  { name: seoCategory.name, href: `/blog/category/${seoCategory.slug}`},
  { name: title, href: canonicalURL }
];

const Breadcrumbs = SeoBreadcrumbItems.filter(
  (item) =>
    item.name === blogLabel ||
    item.name === seoCategory.name
);
---

<BaseLayout
  title={seoTitle}
  description={seoDescription}
  lang={articleLang}
  image={seoImage}
  type="article"
  publishedTime={pubDate}
  modifiedTime={updatedDate}
  tags={tags}
  category={seoCategory}
  author={{
    name: authorEntry?.data.name ?? siteConfig.author.name,
    role: authorEntry?.data.role ?? siteConfig.author.role,
    avatar: authorEntry?.data.avatar ?? siteConfig.author.avatar,
    bio: authorEntry?.data.bio ?? siteConfig.author.bio,
    slug: authorEntry?.id ?? siteConfig.author.slug,
  }}
  canonicalURL={canonicalURL}>  
  <Section size="none" class="relative z-0">
    <BG spacing={16} dotSize={0.8} opacity={0.1} />
    <Section size="sm" class="relative z-10">
      <div class="relative grid grid-cols-1 rounded-xl border border-(--border) max-w-5xl mx-auto p-0 bg-(--bg)/60">
        <Container size="md">
          <Section size="sm">
            <Breadcrumb items={Breadcrumbs} />
          </Section>
          <article id="article" class="mx-auto max-w-3xl">
            <Section size="sm">
              <PostHeader
                title={title}
                description={description}
                pubDate={pubDate}
                content={post.body}
                authorName={authorEntry?.data.name}
                authorAvatar={authorEntry?.data.avatar}
                authorRole={authorEntry?.data.role}
                authorSlug={authorEntry?.id}
                overviewItems={post.data.overview}
              />
            </Section>
            <Section size="sm">
              <div id="article" class="prose-custom">
                <Content components={components} />
              </div>
            </Section>
          </article>
          <Section size="sm">
            <RssFeed />
          </Section>
        </Container>
      </div>
    </Section>
    <Section size="sm">
      <Container size="lg">
        <div id="yandex_rtb_R-A-19179231-6"></div>
        <div id="ezoic-pub-ad-placeholder-101"></div>
      </Container>
    </Section>
    <Section size="sm">
      <Container size="lg">
        <div class="flex items-center gap-2 justify-center">
          <span class="text-label-16 text-(--fg)">Share this article: </span>
          <SharePost url={canonicalURL} title={title} description={description} />
        </div>
      </Container>
    </Section>
    <Section size="sm" class="border-t sm:border-none border-(--border)">
      <h2 class="sr-only">{siteData.b_articleNavigation}</h2>
      <Container size="lg">
        <PostNavigation prevPost={prevPost} nextPost={nextPost} />
      </Container>
    </Section>
  </Section>
  <BackToTop />
</BaseLayout>
