---
// src/pages/[...locale]/index.astro
export const prerender = true;

import { getCollection } from "astro:content";
import { sortByDate } from "@/lib/utils";
import { siteConfig } from "@/config/site";
import { getSeo, getCurrentLocale, getLabel } from "@/utils/i18n";
import { cn } from "@/lib/utils";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/ui/Container.astro";
import Section from "@/components/ui/Section.astro";
import Hero from "@/components/ui/Hero.astro";
import BlogSection from "@/components/section/BlogSection.astro";
import PortfolioSection from "@/components/section/PortfolioSection.astro";

export function getStaticPaths() {
  return [
    { params: { locale: undefined } },
    { params: { locale: 'en' } },
    { params: { locale: 'ru' } },
  ];
}

const locale = getCurrentLocale(Astro);
const seo = getSeo(locale);


const allPosts = await getCollection("blog", ({ data }) =>
 !data.draft && data.lang === locale
);

const blogPosts = sortByDate(allPosts).slice(0, 6);

const allProjects = await getCollection("portfolio", ({ data }) =>
 !data.draft && data.lang === locale
);
const portfolioProjects = sortByDate(allProjects).slice(0, 3);

const hero_t = getLabel(locale, "HeroTitle");
const hero_h = getLabel(locale, "HeroHighlight");
const hero_d = getLabel(locale, "HeroDesc");
const hero_a = getLabel(locale, "HeroAria");

const blog_s = getLabel(locale, "home_BlogSection");
const portfolio_s = getLabel(locale, "home_PortfolioSection");

const seoData = {
  title: seo.title,
  description: seo.description,
  type: "website" as "website",
  image: {
    src: siteConfig.ogImage,
    alt: siteConfig.siteName,
  },
  canonicalURL: new URL(Astro.url.pathname, siteConfig.siteUrl).href,
};
---

<BaseLayout {...seoData}>
  <Section id="hero" size="none" aria-label={hero_a}>
    <div class="relative items-center">
      <div
        class={cn(
          "absolute inset-0",
          "bg-size-[20px_20px]",
          "bg-[radial-gradient(#d4d4d4_1px,transparent_1px)]",
          "dark:bg-[radial-gradient(#404040_1px,transparent_1px)]",
        )}
      />
      <div class="pointer-events-none absolute inset-0 flex items-center justify-center bg-(--bg) mask-[radial-gradient(ellipse_at_center,transparent_20%,black)]"></div>
      <Container size="full" class="relative items-center z-20">
        <Hero
          title={hero_t}
          highlight={hero_h}
          description={hero_d}
        />
      </Container>
    </div>
  </Section>
  <Section id="blog" size="md" aria-label={blog_s} class="section-divider">
    <h2 class="sr-only">{blog_s}</h2>
    <Container size="xl">
      <BlogSection posts={blogPosts} />
    </Container>
  </Section>
  <Section id="portfolio" size="md" aria-label={portfolio_s} class="section-divider">
    <h2 class="sr-only">{portfolio_s}</h2>
    <Container size="xl">
      <PortfolioSection projects={portfolioProjects} />
    </Container>
  </Section>
</BaseLayout>
