---
// src/components/portfolio/PortfolioCard.astro
import type { CollectionEntry } from "astro:content";
import { siteConfig } from "@/config/site";
import { formatDateCompact, generateExcerpt, slugify } from "@/lib/utils";

interface Props {
  project: CollectionEntry<"portfolio">;
}

const { project } = Astro.props;
const { data } = project;
const {
  title,
  pubDate,
  metrics,
} = data;

const excerpt = generateExcerpt(project.body || '', 140);
const formattedDate = formatDateCompact(pubDate);
const autoSlug = slugify(title);
const postUrl = `/portfolio/${autoSlug}/`;
const siteData = siteConfig

const perfLabel = siteData.p_perf;
const a11yLabel = siteData.p_a11y;
const seoLabel = siteData.p_seo;
---

<a href={postUrl} class="group block relative w-full h-full py-4 lg:py-6">
  <div class="space-y-3">
    <div class="flex items-center text-label-14">
      <time datetime={pubDate.toISOString()} class="text-muted">
        {formattedDate}
      </time>
    </div>
    <h2 class="text-heading-16 md:text-heading-20 lg:text-heading-24 text-(--fg) font-semibold line-clamp-3">
      {title}
    </h3>
    <p class="text-copy-14 md:text-copy-16 font-medium text-muted line-clamp-3 group-hover:text-(--fg)">
      {excerpt}
    </p>
    {metrics && (
      <div class="flex gap-3 pt-2">
        {metrics.performance && (
          <div class="flex items-center text-label-13 gap-1">
            <span class="text-subtle">{perfLabel}</span>
            <span class="font-semibold text-(--accent-dim)">
              {metrics.performance}
            </span>
          </div>
        )}
        {metrics.accessibility && (
          <div class="flex items-center text-label-13 gap-1">
            <span class="text-subtle">{a11yLabel}</span>
            <span class="font-semibold text-(--accent-dim)">
              {metrics.accessibility}
            </span>
          </div>
        )}
        {metrics.seo && (
          <div class="flex items-center text-label-13 gap-1">
            <span class="text-subtle">{seoLabel}</span>
            <span class="font-semibold text-(--accent-dim)">
              {metrics.seo}
            </span>
          </div>
        )}
      </div>
      )}
  </div>
</a>
