---
// src/components/blog/BlogHeader.astro
import PostMeta from './PostMeta.astro';
import PostAuthor from './PostAuthor.astro';
import Listen from "@/components/ui/ListenButton.astro";
import CopyLink from "@/components/ui/CopyButton.astro";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  pubDate: Date;
  readingTime: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  authorSlug: string;
}

const {
  title,
  pubDate,
  readingTime,
  authorName,
  authorAvatar,
  authorTitle,
  authorSlug
} = Astro.props;
---

<div class="relative w-full items-center">
  <div
    class={cn(
      "absolute inset-0",
      "bg-size-[20px_20px]",
      "bg-[radial-gradient(#d4d4d4_1px,transparent_1px)]",
      "dark:bg-[radial-gradient(#404040_1px,transparent_1px)]",
    )}
  />
  <div class="pointer-events-none absolute inset-0 flex items-center justify-center bg-white mask-[radial-gradient(ellipse_at_center,transparent_20%,black)] dark:bg-black"></div>

  <header class="relative z-20 w-full text-start justify-start md:justify-center md:text-center">
    <div class="prose-custom mb-4 md:mb-8">
      <h1>{title}</h1>
    </div>

    <div class="mb-4 md:mb-8">
      <PostMeta pubDate={pubDate} readingTime={readingTime} />
    </div>

    <div class="flex flex-wrap items-center">
      {authorName && (
        <div class="flex justify-start">
          <PostAuthor
            name={authorName}
            avatar={authorAvatar}
            title={authorTitle}
            slug={authorSlug}
          />
        </div>
      )}
      <div class="flex items-center justify-start md:justify-center gap-2">
        <Listen />
        <CopyLink />
      </div>
    </div>
  </header>
</div>