---
// src/components/blog/postHeader.astro
import PostMeta from './PostMeta.astro';
import PostAuthor from './PostAuthor.astro';
import BlogFeaturedImage from '../blog/BlogFeaturedImage.astro';

interface Props {
  title: string;
  pubDate: Date;
  content?: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  authorSlug: string;
  image?: any;
}

const {
  title,
  pubDate,
  content = '',
  authorName,
  authorAvatar,
  authorTitle,
  authorSlug,
  image
} = Astro.props;
---

<header class="w-full">
  <div class="flex flex-col items-center text-center gap-4 md:gap-6">
    <h1 class="text-heading-24 md:text-heading-32 lg:text-heading-48 text-(--fg) font-semibold justify-center">{title}</h1>
    {authorName && (
      <PostAuthor
        name={authorName}
        avatar={authorAvatar}
        title={authorTitle}
        slug={authorSlug}
      />
    )}
    {content && (
      <div class="w-full max-w-3xl mt-4">
        <PostMeta pubDate={pubDate} content={content} />
      </div>
    )}
    {image && (
      <div class="prose-custom w-full mt-4 md:mt-8">
        <BlogFeaturedImage
          image={image.src}
          alt={image.alt || title}
          caption={(image as any).caption}
        />
      </div>
    )}
  </div>
</header>