---
// src/components/blog/postHeader.astro
import PostMeta from './PostMeta.astro';
import PostAuthor from './PostAuthor.astro';
import PostAction from './PostAction.astro';
import { cn } from "@/lib/utils";
import BlogFeaturedImage from '../blog/BlogFeaturedImage.astro';

interface Props {
  title: string;
  pubDate: Date;
  content?: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  authorSlug: string;
  image?: any;
}

const {
  title,
  pubDate,
  content = '',
  authorName,
  authorAvatar,
  authorTitle,
  authorSlug,
  image
} = Astro.props;
---

<header class="w-full text-center justify-center relative">
  <div class="prose-custom flex flex-col items-center justify-center flex-initial">
    <h1 class="text-[24px] md:text-[32px] lg:text-[42px] text-center mb-4 md:mb-8">{title}</h1>
  </div>
  {content && <PostMeta pubDate={pubDate} content={content} />}
  <div class="prose-custom flex flex-col items-center justify-center flex-initial mb-4 md:mb-8">
    {image && (
      <BlogFeaturedImage
        image={image.src}
        alt={image.alt || title}
        caption={(image as any).caption}
      />
    )}
  </div>
  <div class="flex flex-col items-center justify-center flex-initial">
    {authorName && (
      <PostAuthor
        name={authorName}
        avatar={authorAvatar}
        title={authorTitle}
        slug={authorSlug}
      />
    )}
  </div>
</header>