---
// src/pages/[slug].astro
export const prerender = true;

import '@/styles/prose/index.css';

import { getCollection, render } from 'astro:content';
import { siteConfig } from '@/config/site';
import { formatDate } from "@/lib/utils";
import { components } from '@/components/layout/MDXComponents';

import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/ui/Container.astro';
import Breadcrumb from '@/components/ui/Breadcrumb.astro';
import Section from '@/components/ui/Section.astro';

export async function getStaticPaths() {
  const legalPages = await getCollection('legal');

  return legalPages.map((page) => {
    const pathParts = page.id.split('/');
    const baseId = pathParts[0];

    return {
      params: {
        slug: baseId
      },
      props: { page },
    };
  });
}

const { page } = Astro.props;
if (!page) return Astro.redirect('/404');

const { Content } = await render(page);

const siteData = siteConfig;
const siteURL = Astro.site?.toString()?? siteData.siteUrl;
const canonicalURL = new URL(Astro.url.pathname, siteURL).toString();

const seoTitle = page.data.seo?.title || page.data.title;
const seoDescription = page.data.seo?.description
  || page.data.description
  || siteData.defaultSeo?.description;

const homeLabel = siteData.home;

const Breadcrumbs = [
  { name: homeLabel, href: '/'},
  { name: page.data.title, href: canonicalURL }
];

const formattedLastUpdated = page.data.lastUpdated
? formatDate(page.data.lastUpdated)
  : null;
---

<BaseLayout
  title={seoTitle}
  description={seoDescription}
  type="website"
  canonicalURL={canonicalURL}>
  <Section size="xl">
    <div class="relative grid grid-cols-1 border border-(--border) max-w-5xl mx-auto">
      <Section size="sm">
        <Container size="md">
          <div class="flex items-center justify-center p-4 lg:p-6">
            <Breadcrumb items={Breadcrumbs} />
          </div>
          <div class="mt-8 items-center text-center justify-center p-4 lg:p-6">
            <div class="prose-custom">
              <h1 class="text-heading-24 md:text-heading-32 lg:text-heading-56 justify-center">{page.data.title}</h1>
            </div>
            {formattedLastUpdated && (
              <p class="text-copy-14 lg:text-copy-16 mt-4 text-(--fg-muted) text-center justify-center">
                {siteData.lastUpdated}: 
                <time datetime={page.data.lastUpdated?.toISOString()}>{formattedLastUpdated}</time>
              </p>
            )}
          </div>
        </Container>
      </Section>
      <Section size="sm">
        <Container size="md">
          <div id="article-content" class="prose-custom p-4 lg:p-6">
            <Content components={components} />
          </div>
        </Container>
      </Section>
    </div>
  </Section>
</BaseLayout>
