---
// src/pages/[slug].astro
export const prerender = true;

import '@/styles/prose/index.css';

import { getCollection, render } from 'astro:content';
import { siteConfig } from '@/config/site';
import { formatDate } from "@/lib/utils";
import { components } from '@/components/layout/MDXComponents';

import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/ui/Container.astro';
import Breadcrumb from '@/components/ui/Breadcrumb.astro';
import Section from '@/components/ui/Section.astro';
import BackToTop from '@/components/ui/BackToTop.astro';

export async function getStaticPaths() {
  const legalPages = await getCollection('legal');

  return legalPages.map((page) => {
    const pathParts = page.id.split('/');
    const baseId = pathParts[0];

    return {
      params: {
        slug: baseId
      },
      props: { page },
    };
  });
}

const { page } = Astro.props;
if (!page) return Astro.redirect('/404');

const { Content } = await render(page);

const siteData = siteConfig;
const siteURL = Astro.site?.toString()?? siteData.siteUrl;
const canonicalURL = new URL(Astro.url.pathname, siteURL).toString();

const seoTitle = page.data.seo?.title || page.data.title;
const seoDescription = page.data.seo?.description
  || page.data.description
  || siteData.defaultSeo?.description;

const homeLabel = siteData.home;

const Breadcrumbs = [
  { name: homeLabel, href: '/'},
  { name: page.data.title, href: canonicalURL }
];

const formattedLastUpdated = page.data.lastUpdated
? formatDate(page.data.lastUpdated)
  : null;
---

<BaseLayout
  title={seoTitle}
  description={seoDescription}
  type="website"
  canonicalURL={canonicalURL}>
  <div class="relative grid grid-cols-1 rounded-xl border border-(--border) max-w-4xl mx-auto">
    <Section size="sm">
      <Container size="md">
        <Section size="sm">
          <div class="flex items-center justify-center">
            <Breadcrumb items={Breadcrumbs} />
          </div>
        </Section>
        <article id="article" class="mx-auto max-w-3xl">
          <Section size="sm">
            <div class="mt-4 items-center text-center justify-center">
              <div class="prose-custom">
                <h1 class="text-heading-24 md:text-heading-32 lg:text-heading-56 justify-center">{page.data.title}</h1>
              </div>
              {formattedLastUpdated && (
                <p class="text-copy-14 mt-4 text-muted text-center justify-center">
                  {siteData.lastUpdated}: 
                  <time datetime={page.data.lastUpdated?.toISOString()}>{formattedLastUpdated}</time>
                </p>
              )}
            </div>
          </Section>
          <Section size="sm">
            <div id="article-content" class="prose-custom">
              <Content components={components} />
            </div>
          </Section>
        </article>
      </Container>
    </Section>
  </div>
  <BackToTop />
</BaseLayout>
