---
// src/components/mdx/CallQuote.astro

import Icon from '@/components/ui/Icon';
import { cdnImage, isCdnUrl } from '@/lib/utils';
import { Image } from 'astro:assets';
const raw = await Astro.slots.render('default');

const cleanRaw = raw
  .replace(/^<p>/, '')
  .replace(/<\/p>$/, '')
  .trim();

const alertTypes = {
  '[!NOTE]': { type: 'note', icon: 'note' },
  '[!INFO]': { type: 'info', icon: 'info' },
  '[!TIP]': { type: 'tip', icon: 'tip' },
  '[!WARNING]': { type: 'warning', icon: 'warning' },
  '[!DANGER]': { type: 'danger', icon: 'danger' },
} as const;

const plainText = cleanRaw
  .replace(/<[^>]+>/g, '')
  .trim();

const activeToken = Object.keys(alertTypes).find(token =>
  plainText.startsWith(token)
);

let isAlert = false;
let alertConfig = null;

let finalQuote = '';
let finalContent = '';

let finalAuthor = '';
let finalRole = '';
let finalAvatar = '', optimizedAvatar = ''

if (activeToken) {
  isAlert = true;

  alertConfig =
    alertTypes[activeToken as keyof typeof alertTypes];

  finalContent = cleanRaw
    .replace(activeToken, '')
    .trim();
} else {
  const slashRegex = /\/(?![^<]*>)/;

  const hasSlash = slashRegex.test(cleanRaw);

  if (hasSlash) {
    const parts = cleanRaw.split(slashRegex);

    finalQuote = parts[0].trim();

    const meta = parts
      .slice(1)
      .join('/')
      .replace(/<\/?[^>]+(>|$)/g, '')
      .trim();

    const metaParts = meta
      .split(' - ')
      .map(part => part.trim());

    if (
      metaParts[0]?.startsWith('/') ||
      metaParts[0]?.startsWith('http')
    ) {
      finalAvatar = metaParts[0] || '';
      finalAuthor = metaParts[1] || '';
      finalRole = metaParts[2] || '';
      
      optimizedAvatar = isCdnUrl(finalAvatar) ? cdnImage(finalAvatar, { w: 48, h: 48, q: 80 }) : finalAvatar;
    }

    else {
      finalAuthor = metaParts[0] || '';
      finalRole = metaParts[1] || '';
    }
  } else {
    finalQuote = cleanRaw;
  }
}
---

{isAlert ? (
  <aside class="callout" data-callout={alertConfig?.type}>
    <div class="callout-body">
      <div class="callout-icon">
        <Icon name={alertConfig?.icon as any} />
      </div>

      <div class="text-copy-13 md:text-copy-14 callout-content">
        <div set:html={finalContent} />
      </div>
    </div>
  </aside>
) : (
  <blockquote class="quote flex flex-col items-stretch justify-start gap-6 lg:gap-8 flex-initial">
    <div
      class="quote-body text-heading-20 md:text-heading-24"
      set:html={finalQuote}
    />
    {(finalAuthor || finalRole) && (
      <div class="flex flex-col md:flex-row items-end md:items-center justify-end gap-2 md:gap-3 flex-initial">
        <div class="w-6 h-6 shrink-0 rounded-full overflow-hidden flex items-center justify-center border border-(--border)">
          {finalAvatar && (
            <Image
              src={optimizedAvatar}
              alt={finalAuthor}
              width={48}
              height={48}
              loading='lazy'
              decoding='async'
              class="block h-full w-full object-cover"
            />
          )}
        </div>
        {finalAuthor && (
          <span class="quote-name text-label-14 md:text-label-16">
            {finalAuthor}
          </span>
        )}
        {finalRole && (
          <span class="quote-role text-copy-14 md:text-copy-16">
            {finalRole}
          </span>
        )}
      </div>
    )}
  </blockquote>
)}
