---
// src/components/blog/BlogHeader.astro
import BlogMeta from './BlogMeta.astro';
import BlogAuthor from './BlogAuthor.astro';
import Listen from "@/components/ui/ListenButton.astro";

interface Props {
  title: string;
  pubDate: Date;
  readingTime: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  authorSlug: string;
}

const {
  title,
  pubDate,
  readingTime,
  authorName,
  authorAvatar,
  authorTitle,
  authorSlug
} = Astro.props;
---

<header class="mx-auto max-w-3xl sm:text-start text-center">
  <h1
    class="prose-custom
      text-3xl sm:text-4xl md:text-5xl
      font-semibold tracking-tight
      text-(--prose-black) dark:text-(--prose-white)
      leading-[1.15]
      text-balance
      mb-6 md:mb-8
    "
  >
    {title}
  </h1>
  <BlogMeta pubDate={pubDate} readingTime={readingTime} />
  <div class="flex items-center sm:justify-start justify-center gap-1 mb-4 md:mb-6">
    {authorName && (
      <BlogAuthor
        name={authorName}
        avatar={authorAvatar}
        title={authorTitle}
        slug={authorSlug}
      />
    )}
    <Listen />
  </div>
</header>
