---
// src/components/blog/BlogHeader.astro

import BlogMeta from './BlogMeta.astro';
import BlogAuthor from './BlogAuthor.astro';

interface Props {
  title: string;
  pubDate: Date;
  updatedDate?: Date;
  readingTime: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  featured?: boolean;
}

const { title, pubDate, readingTime, authorName,
  authorAvatar,
  authorTitle, featured } = Astro.props;
---

<header class="w-full items-center text-center mx-auto pt-6 pb-8 space-y-8">
  <h1 class="text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 leading-[1.1]">
    {title}
  </h1>
  <BlogAuthor 
    name={authorName}
    avatar={authorAvatar}
    title={authorTitle}
  />
  <div class="pt-1">
    <BlogMeta 
      pubDate={pubDate}
      readingTime={readingTime}
      featured={featured}
    />
  </div>
</header>