---
// src/components/blog/BlogHeader.astro
import BlogMeta from './BlogMeta.astro';
import BlogAuthor from './BlogAuthor.astro';
import Listen from "@/components/ui/ListenButton.astro";
import CopyLink from "@/components/ui/CopyButton.astro";

interface Props {
  title: string;
  pubDate: Date;
  readingTime: string;
  authorName?: string;
  authorAvatar?: string;
  authorTitle?: string;
  authorSlug: string;
}

const {
  title,
  pubDate,
  readingTime,
  authorName,
  authorAvatar,
  authorTitle,
  authorSlug
} = Astro.props;
---

<header class="mx-auto max-w-3xl text-start sm:text-start md:text-center">
  <h1
    class="prose-custom
      text-3xl sm:text-4xl md:text-5xl
      font-semibold tracking-tight
      text-(--prose-fg)
      leading-[1.15]
      text-balance
      mb-6 md:mb-8
    "
  >
    {title}
  </h1>

  <div class="mb-4 md:mb-8">
    <BlogMeta pubDate={pubDate} readingTime={readingTime} />
  </div>

  <div class="flex flex-wrap items-center justify-start sm:justify-start md:justify-center mb-6 md:mb-8">
    {authorName && (
      <BlogAuthor
        name={authorName}
        avatar={authorAvatar}
        title={authorTitle}
        slug={authorSlug}
      />
    )}
  </div>
  <div class="flex flex-wrap items-center justify-start sm:justify-start md:justify-center gap-4">
  <Listen />
    <CopyLink />
</header>