---
import { siteConfig } from '@/config/site';
import { slugify } from '@/lib/utils';
import Icon from '@/components/ui/Icon';
import Line from '@/components/ui/Line.astro';

interface Props {
  prevPost?: any;
  nextPost?: any;
}

const { prevPost, nextPost } = Astro.props;

const prevUrl = prevPost ? `/blog/${slugify(prevPost.data.title)}/` : null;
const nextUrl = nextPost ? `/blog/${slugify(nextPost.data.title)}/` : null;
---

{(prevPost || nextPost) && (
  <div class="relative grid grid-cols-1 md:grid-cols-2 w-full">
    <div class="w-full">
      {prevPost ? (
        <a href={prevUrl} class="group flex w-full flex-col p-4 lg:p-6 transition-colors">
          <div class="flex items-center gap-2 text-label-14 text-(--fg) mb-2">
            <Icon name="arrow-left" className="w-4 h-4" />
            <span>{siteConfig.b_prevPosts}</span>
          </div>
          <span class="text-heading-14 md:text-heading-16 font-medium text-(--fg-muted) group-hover:text-(--fg) line-clamp-2 text-left">
            {prevPost.data.title}
          </span>
        </a>
      ) : (
        <div class="hidden md:block w-full h-full min-h-25" />
      )}
    </div>
    <Line type="h" variant="solid" class="absolute top-0 left-0 md:hidden" />
    <Line type="v" variant="solid" class="absolute inset-y-0 left-1/2 hidden md:block" />
    <div class="w-full">
      {nextPost && (
        <a href={nextUrl} class="group flex w-full flex-col p-4 lg:p-6 transition-colors">
          <div class="flex items-center justify-end gap-2 text-label-14 text-(--fg) mb-2">
            <span>{siteConfig.b_nextPosts}</span>
            <Icon name="arrow-right" className="w-4 h-4" />
          </div>
          <span class="text-heading-14 md:text-heading-16 font-medium text-(--fg-muted) group-hover:text-(--fg) line-clamp-2 text-right">
            {nextPost.data.title}
          </span>
        </a>
      )}
    </div>
    
  </div>
)}