---
// src/components/layout/PostMeta.astro
import { 
  getReadingTime 
} from '@/lib/utils';

import { 
  formatDate, 
} from '@/consts';

import Icon from '@/components/ui/icons/Icon.astro';

interface Props {
  pubDate: Date;
  content: string;
}

const { pubDate, content } = Astro.props;

const formattedDate = formatDate(pubDate);
const readingTime = getReadingTime(content);

const wrapperClass   = "flex items-center justify-center gap-3 text-muted";
const itemGroupClass = "flex items-center gap-1.5";
const iconClass      = "w-5 h-5 text-muted";
const textStyle      = "text-body-14! font-medium! text-muted";
const separatorClass = "text-label-14 text-dim opacity-50";
---

<div class={wrapperClass}>
  <div class={itemGroupClass}>
    <Icon name="progress" className={iconClass} />
    <span class={textStyle}>{readingTime}</span>
  </div>
  <span class={separatorClass}>|</span>
  <time datetime={pubDate.toISOString()} class={textStyle}>
    {formattedDate}
  </time>
</div>