---
// src/components/blog/PostCard.astro
import { 
  getEntry, 
  type CollectionEntry  
} from 'astro:content';

import { 
  AUTHOR, 
  ROUTES, 
  IMAGE,
  CATEGORIES,
  formatDate, 
  toISOString 
} from '@/consts';

import { 
  generateExcerpt, 
  cdnImage, 
  isCdnUrl, 
  slugify 
} from '@/lib/utils';

import { Image } from 'astro:assets';
import Link from '../ui/Link.astro';


interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

let 
  title = '', 
  excerpt = '', 
  categoryName = '', 
  pubDateISO = '', 
  pubDateDisplay = '',
  authorName = '', 
  authorAvatar = '', 
  optimizedAvatar = '', 
  postUrl = '';

if (post) {
  const { data } = post;
  const { title: t, pubDate, category, author } = data;

  const categoryData  = CATEGORIES.find((c) => c.slug === category);
  
  const authorEntry   = author ? await getEntry(author) : null;
  const autoSlug = post.data.slug || slugify(t);

  title = t;
  excerpt = generateExcerpt(post.body || '', 200);
  categoryName = categoryData?.label || '';
  
  pubDateISO      = toISOString(pubDate);
  pubDateDisplay  = formatDate(pubDate, true);
  
  authorName      = authorEntry?.data.name   || AUTHOR.name;
  authorAvatar    = authorEntry?.data.avatar || AUTHOR.avatar;
  
  optimizedAvatar = isCdnUrl(authorAvatar)
    ? cdnImage(authorAvatar, { w: IMAGE.avatar.width, h: IMAGE.avatar.height, q: IMAGE.avatar.quality })
    : authorAvatar;
    
  postUrl = `${ROUTES.blog}/${autoSlug}`;
}
---

<article class="flex flex-col rounded-lg border border-(--border) bg-base">
  <div class="flex flex-col flex-1 p-4">
    <div class="flex items-center justify-between mb-2 text-label-14 text-subtle">
      <span>{categoryName}</span>
      <div class="flex items-center gap-1.5 text-label-14 text-subtle">
        <time datetime={pubDateISO}>{pubDateDisplay}</time>
        {authorAvatar && (
          <div class="w-6 h-6 shrink-0 rounded-full overflow-hidden flex items-center justify-center border border-(--border)">
            <Image
              src={optimizedAvatar}
              alt={`Avatar ${authorName}`}
              width={IMAGE.avatar.width}
              height={IMAGE.avatar.height}
              loading='lazy'
              decoding='async'
              fetchpriority='low'
              class="h-full w-full object-cover"
            />
          </div>
        )}
      </div>
    </div>
    <div class="flex flex-col gap-4 flex-1">
      <h3 class="text-heading-16 lg:text-heading-18 text-(--fg) font-semibold line-clamp-3">
        {title}
      </h3>
      <p class="text-body-14 font-medium text-muted line-clamp-4">
        {excerpt}
      </p>
      <div class="mt-auto flex items-center justify-between">
        <Link href={postUrl} size="md" variant="secondary" class="flex flex-col rounded-md w-full text-label-14">
          <span>Baca selengkapnya</span>
        </Link>
      </div>
    </div>
  </div>
</article>