---
// src/components/guide/GuideHeader.astro
import PostAuthor from "@/components/blog/PostAuthor.astro";
import PostMeta from "@/components/blog/PostMeta.astro";
import HeroImage from "@/components/blog/PostHeroImage.astro";

interface Props {
  title: string;
  pubDate: Date;
  content?: string;
  authorName?: string;
  authorAvatar?: string;
  authorRole?: string;
  authorSlug?: string;
  heroImage?: {
    src: string;
    alt: string;
  };
}

const {
  title,
  pubDate,
  content = '',
  authorName,
  authorAvatar,
  authorRole,
  authorSlug,
  heroImage,
} = Astro.props;
---

<header class="w-full mx-auto">
  <div class="flex flex-col items-center text-start justify-start gap-y-4 md:gap-y-6 w-full">
    <h1 class="text-heading-32 md:text-heading-48 font-semibold text-balance text-start sm:text-center self-start sm:self-center">
      {title}
    </h1>
    <div class="flex items-center self-start sm:self-center">
      {authorName && (
        <PostAuthor
          name={authorName}
          avatar={authorAvatar}
          role={authorRole}
          slug={authorSlug || ""}
        />
      )}
    </div>
    <div class="flex items-center self-start sm:self-center">
      <PostMeta pubDate={pubDate} content={content} />
    </div>
    {heroImage && (
      <HeroImage
        image={heroImage.src}
        alt={heroImage.alt || title}
      />
    )}
    <hr class="w-16 border-t-4 border-(--border) rounded-full opacity-40" />
  </div>
</header>